@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.container1{
    background-image: url('portfoliobackground.jpg');
 height:50vh;
    background-size: cover;
}
.h1{
    margin:10px;
 text-align: center;
    font-size: 40px;
    color:#ffffff;
    
}
.center{
    text-align:center ;
}
    

.p1{
    color: #ffffff;
    text-align: center;
    padding-top:10px;
    font-size:20px;
    font-weight:bold;
    padding:10px;
}
.nav{
    color:#ffffff;
    font-size:30px;
  text-decoration:none;
    margin-left: 1050px;
    padding-top: 10px;
}
ul li{
    display:inline;
    list-style-type:none;
    text-decoration: none;
}
.link{
    padding:20px;
    text-decoration: none;


}
.text-decoration{
    text-decoration: none;
    color:#ffffff;
}
.h2{
    color:#ffffff;
    font-size:30px;
  text-decoration:none;
   margin-left:20px;
    padding-top: 20px;
}
.span{
    color:violet;
}
.button{
    margin-left:100px;
    background-color:green ;
    border-radius: 7px;
    height:36px;
    width:120px;
    border-width:0px;
    color:#ffffff;
    font-weight: bold;

}
.container2{
    background-color:black;
}
.display{
    display:flex;
    flex-direction: row;
}.img1{
    height:500px;
    width:500px;
    margin-left:20px ;
}
.container3{
    
    background-image: url('whitebackground.avif');
}
.h3{
    font-size: 45px;
    text-align: center;
}
.p2{
font-size:20px;
text-align:center;
font-weight: bold;
}
.dispaly1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.container4{
    background-color:#ffffff;
    margin-left: 50px;
    width:250px;
    padding:20px;
}
.img3{
    height:200px;
    width:200px;
}
.button1{
    width:150px;
   background-color:blueviolet;
}
.text-decoration:hover{
    background-color: orange;
    color:yellow;
    border: 2px solid green;
    outline: green;
}
@media screen and (min-width:360px) and 
  (max-width:480px){
    display1{
grid-template-column:repeat(1,1fr);
}
}
@media screen and (min-width:480px) and 
(max-width:576px){

display1{
grid-template-column:repeat(1,1fr);
}
}
@media screen and (min-width:576px) and 
(max-width:768px){

display1{
grid-template-column:repeat(2,1fr);
}
}
@media screen and (min-width:768px) and 
(max-width:992px){

display1{
grid-template-column:repeat(3,1fr);
}
}
@media screen and (min-width:1200px) and 
(max-width:1400px){

display1{
grid-template-column:repeat(3,1fr);
}
}